@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Roboto', sans-serif;
}

.icon #bar1{
    transform: translateY(4px) rotate(40deg);
}

.icon #bar3{
    transform: translateY(-6px) rotate(-40deg);
}

.icon #bar2{
    opacity:0;
}

.change{
    opacity: 100%;
    display: flex;
}

#filter{
    background-image:url("/assets/image1.jpeg");
    background-color: rgba(44, 92, 165, 0.5);
  background-blend-mode: multiply;
    height: 660px;
   
}